@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background: linear-gradient(to bottom, rgb(35, 88, 66)  , #000000 , #000000, #000000);
  background-repeat: no-repeat;
}
/* Global Styles */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  background: linear-gradient(to bottom, rgb(35, 88, 66)  , #000000 , #000000, #000000);
  background-repeat: no-repeat;
  color: #fff; /* White text */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Audio Player Styles */
audio {
  width: 100%;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #1db954; /* Spotify Green */
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #14833b; /* Darker Green on Hover */
}
.err-btn:hover {
  background-color: red; 
}
.toggle {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle:hover {
  background-color: rgb(189,189,189,0.3); 
}

/* List View Styles */
ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  padding: 15px;
  margin: 5px 0;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #444;
}

li.selected {
  color: #1db954; /* Spotify Green for selected item */
  font-weight: bold;
}

/* Grid View Styles */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}

.grid-item {
  flex: 1 1 calc(25% - 10px); /* Four items per row with gaps */
  background-color: #333;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.grid-item:hover {
  transform: scale(1.05);
}

.grid-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.grid-item p {
  margin: 0;
  color: #fff;
}

.grid-item.selected p {
  color: #1db954; /* Highlight the selected item */
}

h1, h2, h3, h4, h5, h6, p, span {
  font-size: 1rem; /* Base font size */
}

@media (min-width: 600px) {
  h1, h2, h3, h4, h5, h6, p, span {
    font-size: 1.1rem; /* Increase font size for small screens */
  }
}

@media (min-width: 960px) {
  h1, h2, h3, h4, h5, h6, p, span {
    font-size: 1.2rem; /* Increase font size for medium screens */
  }
}

@media (min-width: 1280px) {
  h1, h2, h3, h4, h5, h6, p, span {
    font-size: 1.3rem; /* Increase font size for large screens */
  }
}

/* Styling for the custom list */
.custom-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.custom-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.list-item-content {
  flex: 0 0 95%;
  display: flex;
  align-items: center;
}

.edit-button-container {
  flex: 0 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Specific styles for selected items */
.selected-item {
  background-color: rgba(35, 88, 66, 0.2);
  border-radius: 3px;
  color: rgb(84, 228, 127);
}

.edit-icon {
  color: white;
}

.selected-item .edit-icon {
  color: rgb(84, 228, 127);
}

/* Responsive Design */
@media (max-width: 768px) {
  .grid-item {
    flex: 1 1 calc(50% - 10px); /* Two items per row for smaller screens */
  }
}

@media (max-width: 480px) {
  .grid-item {
    flex: 1 1 100%; /* One item per row for mobile screens */
  }
}
